[submodule "packages/foundry/lib/forge-std"]
	path = packages/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/foundry/dependencies/solidity-bytes-utils"]
	path = packages/foundry/dependencies/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
[submodule "packages/foundry/dependencies/chainlink"]
	path = packages/foundry/dependencies/chainlink
	url = https://github.com/smartcontractkit/chainlink
