[submodule "mail-proof/lib/forge-std"]
	path = mail-proof/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "my-web-proof/lib/forge-std"]
	path = my-web-proof/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
